<div class="container mt-5">

    <div class="d-flex justify-content-evenly m-2">

        <div>
            <button type="button" class="btn btn-secondary" (click)="AgregarUsuario()"> Agregar Nuevo Usuario</button>
        </div>
        <div>
            USUARIOS
        </div>
    </div>



    <div *ngIf="showSuccessAlert" class="alert alert-success">{{ messageSent }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <!-- <div class="container m-2">
        <form [formGroup]="userForm" (ngSubmit)="PostNewUSer()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control mt-2" placeholder="Nombre del usuario" type="text" maxlength="100" formControlName="name" required>
                    </div>
                </div>
                <button class="btn btn-info" [disabled]="submittingForm" style="color: snow;" type="submit">Enviar
                    Mensaje <i class="fas fa-arrow-right"></i></button>
            </div>
        </form>
    </div> -->
</div>

<div class="container ">

    <form [formGroup]="tareaForm" (ngSubmit)="PostNewUSer()">
      <div class="col-12 row">
        <div class="col-6">
          <div class="form-group">
          <input type="email" class="form-control" formControlName="name" placeholder="Agregar el nombre de la tarea" required>
        </div>
        </div>
        <div class="col-6">
          <button type="submit" [disabled]="submittingForm" class="btn btn-primary">Agregar Usuario</button>
        </div>
      </div>
    </form>
  </div>





<div class="container" *ngIf="viewUpdate">
    <form [formGroup]="updateUserForm" (ngSubmit)="sendUpdateUser()">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>ID</label>
                    <input class="form-control mt-2" [(ngModel)]="user._id" type="text" maxlength="100"
                        formControlName="_id" required>
                </div>
                <div class="form-group">
                    <label>Nombre Completo</label>
                    <input class="form-control mt-2" [(ngModel)]="user.name" type="text" maxlength="100"
                        formControlName="name" required>
                </div>
            </div>
            <button class="btn btn-info" [disabled]="submittingForm" style="color: snow;" type="submit">Enviar
                Mensaje <i class="fas fa-arrow-right"></i></button>
        </div>
    </form>
</div>





<div class="container">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element"> {{element._id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="tasks">
          <th mat-header-cell *matHeaderCellDef>TAREAS</th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-fab color="primary" (click)="openModal(element._id)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>EDITAR</th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-fab color="primary" (click)="getbyIdUser(element._id)">
                    <mat-icon>filter_list</mat-icon>
                  </button>
            </td>
          </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>ELIMINAR</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-fab color="warn" (click)="deleteUser(element._id, i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
      </table>
      
</div>

